
.notebooks_wrap {
  margin-left: 11.5vw;
  padding: 25px;
}



.notebooks_create_button {
  background-color: rgba(0,0,0,0.3);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 30vw;
  padding: 10px;
  border-radius: 6px;
  border: solid black 1px;
}


.notebooks_create_button:hover {
  cursor: pointer;
  background-color: blue;
}



.notebooks_create_button:hover .create_notebook_link {
  color: white;
}



.eachnotebook_container {
  margin-left: 7.5vw;
}



.eachnotebook_wrap {
  padding: 20px;
  width: 39.5vw;
}



.eachnotebook_wrap:hover {
  background-color: blue;
  border: solid white 5px;
  border-radius: 15px;
  cursor: pointer;
}



.eachnotebook_wrap:hover a{
  color: white;
}



.eachnotebook_buttons_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
