


.nav_containter {
  box-sizing: border-box;
}



.each_li_div {
  padding: 1%;
}




.each_li_div li {
  background-color: white;
  border: solid 1px whitesmoke;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 8px 6px rgb(0 0 0 / 60%);
}



.each_li_div:hover li {
  background-color: blue;
}



.each_li_div:hover {
  background-color: rgba(0,0,0,0.4);
  cursor: pointer;
  border-radius: 10px;
}



.each_li_div:hover .each_link {
  color: white;
}
