


.nav_containter {
  box-sizing: border-box;
}



.each_li_div {
  padding: 1%;
}




.each_li_div li {
  background-color: white;
  border: solid 1px whitesmoke;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 8px 6px rgb(0 0 0 / 60%);
}



.each_li_div li:hover {
  background-color: blue;
}



.each_li_div li a:hover {
  color: whitesmoke;
}
