


.nav_containter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 5%;
  box-sizing: border-box;
}


.nav_containter li {

}
