



.runcode_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-end;
  margin-right: 50px;
  margin-top: 10px;
}


.run_div {
  background-color: deepskyblue;
  padding: 10px;
  border-radius: 4px;
  border: solid blue 1px;
}
