

.main_footer {
  left: 45%;
  justify-content: center;
  height: auto;
}




.footer_container img {
  width: 4%;
  border-radius: 50px;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);

}


img .hidden {
  display: none;
}
