




@media screen and (min-width: 1500px){




.main_outer_flex {
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: auto;
  padding: 1%;
}





.main_grid_flex {
  display: flex;
  background-color: transparent;
  padding: 2%;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
  border-radius: 10px;
}






.main_grid {
  display: grid;
  position: relative;
  /* background-color: aqua; */
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'left center right';
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}







.tagcreator_container {
  position: relative;
  display: flex;
  width: 400px;
  padding: 5%;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
  border-radius: 10px;
  grid-area: right;
}




}
