

.update_button {
  margin-left: 13vw;
}


.update_button h4 {
  color: #8338ec;
}




.delete_button {
  margin-left: 13vw;
}




.delete_button h4 {
  color: red;
}




.preview_button {
  margin-left: 10vw;
}



.preview_button h4:hover {
  color: blue;
  cursor: pointer;

}





.preview_container {
  position: relative;
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}





.preview_wrapper {
  display: block;
  padding: 5%;
  max-width: 90%;
  box-sizing: border-box;

}





.preview_title {
  padding: 4%;
  line-break: anywhere;
}








.preview_content {
  top: -25%;
  line-break: anywhere;
}






.edit_container {
  max-width: inherit;
}





.edit_wrapper {
  width: 100%;
  background-color: transparent;
  padding: 10%;
  box-sizing: border-box;
}




.edit_errors {
  margin-left: 10vw;
}




.edit_title input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: transparent;
  color: #8338ec;
  font-family: 'JetBrains Mono', monospace;
}




.edit_content textarea{
  width: 77%;
  padding: 10px 0;
  font-size: 1rem;
  margin-bottom: 30px;
  outline: none;
  background: transparent;
  height: 32rem;
  resize: none;
  line-break: anywhere;
  position: absolute;
  color: #8338ec;
  font-family: 'JetBrains Mono', monospace;
}




.nav_containter {
  box-sizing: border-box;
}





.each_li_div {
  padding: 1%;
}
