




.preview_button {
  position: absolute;
  left: 25%;
  top: 16%;

}



.preview_test{

}



.preview_container {
  position: relative;
  background-color:yellow;
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}





.preview_wrapper {
  background-color: blue;
  display: block;
  padding: 5%;
  max-width: 90%;
}





.preview_title {
  padding: 4%;
  line-break: anywhere;
}








.preview_content {
  display: block;
  padding: 5%;
  position: relative;
  top: -25%;
  line-break: anywhere;
}






.edit_container {
  max-width: inherit;
}




.edit_test {

}

.edit_wrapper {
  width: 100%;
  background-color: transparent;
  padding: 10%;
  box-sizing: border-box;
}






.edit_title input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: transparent;
}


.edit_content textarea{
  width: 77%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  height: 68rem;
  resize: none;
  line-break: anywhere;
  position: absolute;
  left: 12%;
  background-color: black;

}
