





.userinfo_wrap {
  padding: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}






.user_img {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}





.user_img img {
  border-radius: 100px;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: 33% 33%;
}





.recentnotebooks_wrap {
  margin-left: 11.5vw;
  padding: 40px;
}




.each_recent_notebook {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}


.each_notebook_link {
  background-color: white;
  margin: 10px;
  border: solid black 1px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}




.each_notebook_link:hover {
  cursor: pointer;
  background-color: blue;
}



.each_notebook_link:hover .link {
  color: white;
}
