/* small font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');
/* font-family: 'JetBrains Mono', monospace; */


/* big font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* font-family: 'Roboto', sans-serif; */




.default {
	font-family: 'JetBrains Mono', monospace;
	text-decoration: none;
}








/* small */
p, a, h3, h4, h5 {
	font-family: 'JetBrains Mono', monospace;
}







/* big  */
h1, h2 {
	font-family: 'Roboto', sans-serif;
}





/* for labels */
label, button {
	font-family: 'JetBrains Mono', monospace;
	font-size: 1rem;
}






/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, header, hgroup, menu, section {
	display: block;
}



body {
	line-height: 1;
}

a {
	text-decoration: none;
}

ol, ul, nav {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
}



blockquote, q {
	quotes: none;
}



blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}



table {
	border-collapse: collapse;
	border-spacing: 0;
}


img {
  object-fit: contain;
  width: 294px;
}




.hidden {
  display: none;
}


.selected {
	background-color:#551A8B;
	border-radius: 5%;
	color: #EACDC2;
	text-decoration: none;
	padding: 3%;
	box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
}

.selected:hover {
	background-color:#551A8B;
}




.Dark  {
	background-color:#212529;
	color: #EACDC2;
}


.Light {
	background-color: #fff;
	color: #000;

}



.on {
	color: gold;
	margin-top: -1px;
	font-family: 'JetBrains Mono', monospace;
	background-color: black;
	padding: 7px;
	box-sizing: border-box;
}



.off {
	color: red;
	margin-top: -1px;
	font-family: 'JetBrains Mono', monospace;
	background-color: black;
	padding: 7px;
	box-sizing: border-box;
}
