/*




.preview_button {
  position: absolute;
  left: 25%;
  top: 16%;

}




.preview_container {
  position: relative;
  background-color:yellow;
  display: flex;
  padding: 5%;
  box-sizing: border-box;

}





.preview_wrapper {
  background-color: blue;
  display: block;
  padding: 5%;
}





.preview_title {
  padding: 4%;
}








.preview_content {
  display: block;
  padding: 5%;
  position: relative;
  top: -25%;
}






.edit_container {
  background-color: red;
  display: flex;
  padding: 5%;
  left: 0%;
  width: 100%;
  top: 50%;
  box-sizing: border-box;
  height: 100%;
}



.edit_wrapper {
  width: 100%;
  background-color: black;
  padding: 10%;
  box-sizing: border-box;
}


.edit_title input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: transparent;
}


.edit_content textarea{
  width: 65rem;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  height: 68rem;
  resize: none;

} */
